
#disasterDialog{
    position: absolute;
    margin-top: 10vh;
    margin-left: 90px;
    border-radius: 12px;
}
#disasterBtn{
    background-image: url('../assets/disaster_image.jpg');
    background-size:cover;
    background-position: center;
}

#lightningBtn{
    background-image: url('../assets/disaster_lightning.png');
    background-size:cover;
    background-position: center;
}
#meteorBtn{
    background-image: url('../assets/disaster_meteor.png');
    background-size:cover;
    background-position: center;
}
#iceAgeBtn{
    background-image: url('../assets/disaster_iceage.jpg');
    background-size:cover;
    background-position: center;
}
#globalWarmingBtn{
    background-image: url('../assets/disaster_globalwarming.jpg');
    background-size:cover;
    background-position: center;
}

#gridmapLightning{
    display:none;
}
.grid-container-small{
    display: grid;
    column-gap:3px;
    row-gap:3px;
    grid-template-columns: 5vh 5vh 5vh 5vh;
    grid-template-rows: 5vh 5vh 5vh 5vh;
    justify-content: center;
    align-content: center;
}
.grid-item-small{
    display: inline-grid;
    background-color: aquamarine;
    width: 5vh;
    height:5vh;
    background-size:cover;
    background-position: center;
}

#buttonContainer{
    width: 5vw;
    display:inline;
    text-align:center;
    margin-top: 10px;
}
.disaster-btn {
    background-color: #94B49F;
    border-color: white;
    color: white;
    text-align:center;
    vertical-align:bottom;
    text-decoration: none;
    font-size: 0.7vw;
    margin-bottom: 3vh;
    border-radius: 12px;
    width:4vw;
    height:7vh;
    border: none; 
    /* font-weight: bold; */
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.disaster-btn:hover{
    opacity: 0.5;
    color:black;
}
#disasterCancel{
    background-color: #ecb390; 
    border: none; 
    color: white; 
    padding: 3px 5px; 
    font-size: 2vh; 
    cursor: pointer; 
    border-radius: 6px;
    margin-bottom: 10px;
}

.disaster-btn .btntiptext{
    visibility: hidden;
    width: 85%;
    background-color: black;
    color: #fff;
    font-size: 7px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 75%;
    left: 5%;
    /* Position the btntip text - see examples below! */
    position: absolute;
    z-index: 1;
    padding: 5px
}
.disaster-btn:hover .btntiptext{
    visibility: visible
}


#guideBtn{
    background-image: url('../assets/guide_image.jpg');
    background-size:cover;
    background-position: center;
    color: black;
    font-weight: bold;
}