#line-chart{
    width:100vh;
    height:50vh;
    display: block;
}
/* statisticBOX */
.statisticBox{
    position:absolute;
    padding-top:2vh;
    right: 0;
    width:25vw;
    text-align:center;
    padding-right: 20px;
}
ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  border-radius: 12px;
  width: 100%;
  justify-content: space-evenly;
}

li{
  display: flex;
  width:100%;
  overflow: hidden;
}
li a{
  display: flex;
  background-color:#94B49F;
  color:#ffffff;
  padding:1vh;
  text-decoration: none;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width: 100%;
}

li a:hover{
  background-color: #5b7062;
  color:black;
}

.chartContainer{
  /* width: 53vh; */
  color:black;
  background-color:rgb(252,248,232);
  display:none;
  border-radius: 12px;
  padding: 12px;
}

#selectgridMap{
  display:flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  border-style: solid;
}
.grid-c{
  display: grid;
  column-gap:3px;
  row-gap:3px;
  grid-template-columns: 5vw 5vw 5vw 5vw;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  justify-content: center;
  align-content: center;
}
.grid-{
  display: inline-grid;
  background-color: aquamarine;
  width: 5vw;
  height:10vh;
  background-size:cover;
  background-position: center;
}
#gragh-cancel{
  font-size: 2vh; 
  cursor: pointer; 
  padding: 3px 7px;
}

#graph-goback{
  display:none;
  font-size: 2vh; 
  cursor: pointer; 
  padding: 3px 7px; 
}